body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

.icon {
  position: relative; /* Untuk mengatur tooltip di dalam div ikon */
}

.icon img {
  width: 40px; /* Ukuran ikon, sesuaikan jika perlu */
  height: auto;
}

.tooltip {
  display: none; /* Tooltip tidak terlihat pada awalnya */
  position: absolute;
  bottom: 100%; /* Menempatkan tooltip di atas ikon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.icon:hover .tooltip {
  display: block; /* Tooltip muncul saat ikon dihover */
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
  
}

.biodata {
  width: 40%;
}

.biodata h1 {
  font-size: 2.5em;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 10px;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.biodata p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
  border-bottom: 1px solid white; /* Menambahkan garis bawah */
  padding-bottom: 5px; /* Jarak antara teks dan garis bawah */
}

.biodata h2 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 15px;
}

.images {
  width: 50%;
}

.images img {
  display: flex;
  width: 95%;
  height: 85%;
  object-fit:cover; /* Menjaga proporsi gambar */
}
